<flynt-component name="BlockPostHeader" {{ not post.thumbnail ? 'data-thumbnail="false"' }}>
	<div class="relative">
		{% if post.thumbnail %}
			{{
      renderComponent(
      'BlockImage',
      {
        image: post.thumbnail,
        options: {
        size: 'full'
        },
        noComponentSpacing: true
      }
      )
    }}
		{% endif %}
		<div class="px-4 sm:px-8 md:px-16 lg:px-24 z-10 absolute inset-0 flex items-center justify-center">
			<h1 class="text-white text-3xl sm:text-4xl md:text-6xl lg:text-8xl text-center">{{ post.title }}</h1>
		</div>

		<div class="absolute bottom-2 sm:bottom-4 left-1/2 transform -translate-x-1/2">
			<small class="text-white text-xs sm:text-sm">
				{{ labels.readingTime|replace({'%d': post.content|readingtime })|e }}
			</small>
		</div>
	</div>
</flynt-component>
