{% extends 'templates/_document.twig' %}

{% block content %}
	<article>
		<header>
			{{ renderComponent('BlockPostHeader', {post: post}) }}
		</header>
		<section class="container mx-auto max-w-prose prose lg:prose-lg wrap-break-word">
			{{ post.content }}
		</section>
		<footer>
			{{ renderComponent('BlockPostFooter', {post: post}) }}
		</footer>
	</article>
{% endblock %}
