{% extends 'templates/_document.twig' %}

{% block content %}
	<article>
		<header>
			{{ renderComponent('BlockPostHeader', {post: post}) }}
		</header>
		<section class="mx-auto prose lg:prose-lg wrap-break-word px-4 md:px-0">
			{{ post.content }}
		</section>
		<footer>
			{{ renderComponent('BlockPostFooter', {post: post}) }}
		</footer>
	</article>
{% endblock %}
