<flynt-component name="BlockPostFooter">
	<div class="container mx-auto my-20">
		<hr class="border-slate-200"/>

		<div class="mt-12 flex items-center justify-between">
			<div class="group">
				{% include "templates/_partials/button.twig" with {
          link: postTypeArchiveLink,
          text: labels.allPosts,
          variant: 'textBack',
        } only %}
			</div>


		</div>
	</div>
</flynt-component>
